.latest-articles-section {
  font-family: "Cairo", sans-serif;
  background-color: #0f0f0f;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.latest-articles-section .container {
  position: relative;
  z-index: 1;
}
.text-orange {
  color: #fd7e14 !important;
  transition: all 0.3s ease;
}

.view-all-hover i {
  transition: all 0.3s ease;
}
.view-all-hover:hover i {
  transform: translateX(-4px);
}
.view-all-hover:hover {
  color: #ff9239 !important;
}

.custom-card {
  background-color: #1a1a1a !important;
  cursor: pointer; 
  transition: all 0.5s ease;
  border: 0;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(253, 126, 0, 0.286);
  border-color: #444 !important;
}
.custom-card img {
  transition: all 0.4s ease;
}
.custom-card:hover img {
  transform: scale(1.1);
}
.custom-card h5 {
  transition: color 0.3s ease;
}
.custom-card:hover h5 {
  color: rgb(253, 126, 20) !important;
}
.custom-card .arrow-btn {
  width: 35px;
  height: 35px;
  transition: all 0.3s ease;
}

.custom-card:hover .arrow-btn {
  transform: translateX(4px);
  background-color: #fd7d147f !important;
  border: 0;
}

.card-img-height {
  height: 220px;
}

.object-fit-cover {
  object-fit: cover;
}

.line-clamp-3 {
  display: -webkit-box;
  --webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.author-role-text {
  font-size: 0.75rem;
}
.decorative-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33.33%;
  height: 100%;

  background: linear-gradient(to right, rgba(253, 126, 20, 0.05), transparent);
  pointer-events: none;
  z-index: 0;
}
