
/* footer */
.footer-section {
  background: #0b0b0b;
  padding: 60px 0 30px;
  color: #bbb;
  border-top: 1px solid rgba(249, 115, 22, 0.1);
  border-bottom: 1px solid rgba(249, 115, 22, 0.1);
}
.footer-title {
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 4px; 
}
.footer-title::before {
  content: "";
  display: block; 
  width: 35px;   
  height: 2px;   
  border-radius: 10px;
  
  background: linear-gradient(to right, #f97316, #ffffff);
}


.footer-text {
  font-size: 16px;
  line-height: 1.8;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: all .3s ease;
  position: relative;
}

.footer-links a::before {
  content: ">";
  color: #f97316;
  margin-left: 6px;
  opacity: 0;
  transform: translateX(6px);
  transition: all .3s ease;
}

.footer-links a:hover {
  color: #f97316;
  transform: translateX(-6px);
}

.footer-links a:hover::before {
  opacity: 1;
  transform: translateX(0);
}

.footer-input {
  width: 100%;
  background: #0f0f0f;
  border: 3px solid #222;
  border-radius: 12px;
  padding: 10px 14px;
  color: #fff;
  margin-bottom: 10px;
  z-index: 1;
}

.footer-input:focus {
  outline: none;
  border-color: #f97316;
}

.footer-btn {
  width: 100%;
  background: #f97316;
  border: none;
  border-radius: 2rem;
  padding: 10px;
  transition: all .3s ease;
  z-index: 1;
}

.footer-btn:hover {
  transform: translateY(-2px);
  background: #e8680c;
}

.footer-logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.footer-logo span {
  background: #f97316;
  color: #000;
  padding: 2px 8px;
  border-radius: 6px;
  margin-right: 5px;
}

.footer-social {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.social-icon {
  width: 2.25rem;
  height: 2.25rem;
  background: #1a1a1a;
  border-radius: .625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
  transition: all .3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icon:hover { background-color: #f97316; }

.footer-bottom {
  border-top: 1px solid #1a1a1a;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}

.footer-bottom-links a {
  margin-right: 15px;
  color: #bbb;
  text-decoration: none;
}

.footer-bottom-links a:hover {
  color: #f97316;
}
.footer-blob {
  position: absolute;
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  filter: blur(80px);
  z-index: 0;
}

.footer-blob-orange {
  top: 0;
  left: 25%;
  background-color: rgba(249, 115, 22, 0.05);
  z-index: 0;
}

.footer-blob-yellow {
  bottom: 0;
  right: 25%;
  background-color: rgba(234, 179, 8, 0.05);
  z-index: 0;
}
.footer-section .container {
  z-index: 100;
}
.shadowSpan{
  box-shadow: 0 10px 20px rgba(253, 126, 20, 0.3);
}
/* end footer */