html,
body {
  max-width: 100%;
  overflow-x: clip !important;
}
.card {
  border-radius: 1.5rem !important;
  background-color: #161616 !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #fd7e14;
  border-radius: 5px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background: #e36802;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fd7e14 #1a1a1a;
}

::selection {
  background-color: #fd7e14;
  color: #ffffff;
}

::-moz-selection {
  background-color: #fd7e14;
  color: #ffffff;
}
